.u-section-1 .u-sheet-1 {
  min-height: 1044px;
}

.u-section-1 .u-custom-html-1 {
  height: 984px;
  width: 639px;
  margin: 30px auto;
}

@media (max-width: 767px) {
  .u-section-1 .u-custom-html-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-custom-html-1 {
    width: 340px;
  }
}